PORT=5000
NODE_ENV=development 

SUPABASE_URL=https://jstpgjfnzgpjaebjfcrp.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpzdHBnamZuemdwamFlYmpmY3JwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDkyMTIzMiwiZXhwIjoyMDkwNDk3MjMyfQ.IwnSk6EQgoZYBvAzmlaJAWso4Az2hX_c_oHxI1FQvSY
DATABASE_URL=postgresql://postgres:acebinh123a@db.jstpgjfnzgpjaebjfcrp.supabase.co:5432/postgres

MONGODB_URL=mongodb+srv://thanhbinh58058:acebinh123@do-an-lien-nganh.ii0mm21.mongodb.net/lms_sat_db?retryWrites=true&w=majority&appName=do-an-lien-nganh

REDIS_URL=redis://default:NIGotPLpc98jPpeSBUwvmCnuTK64SSbQ@redis-15024.crce178.ap-east-1-1.ec2.cloud.redislabs.com:15024

PINECONE_API_KEY=pcsk_6mDqZT_UPU6woctZPMQXbyiRBwyfpQwUQrXbhUycBNxWz57Q6HNc2kHQkuBXuwXHZAJBBy
PINECONE_HOST=https://do-an-lien-nganh-9yl2bqc.svc.aped-4627-b74a.pinecone.io

GOOGLE_AI_API_KEY=AIzaSyCw7RIvUGzj4SOGIV-jtTrBq-qKZKzvLDw

ELASTICSEARCH_NODE=https://b4d8d24719:0ed027d02eb9db0a77a1@do-an-lien-1nh8bk41.us-east-1.bonsaisearch.net

KAFKA_BROKER=localhost:9092@