# --- Cấu hình chung ---
TZ=Asia/Ho_Chi_Minh
NODE_ENV=development

# --- Database (Postgres) ---
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=user_db
DATABASE_PORT=5432
DB_CONTAINER_NAME=cambridge_user_db
DATABASE_URL=postgresql://user:password@${DB_CONTAINER_NAME}:${DATABASE_PORT}/user_db

# --- User Service ---
PORT=3002
USER_SERVICE_CONTAINER_NAME=cambridge-user-service
LOG_LEVEL=info

# --- JWT (Public Key for verifying tokens from Auth) ---
JWT_PUBLIC_KEY=@../auth-service/keys/jwtRS256.key.pub
