DATABASE_URL=postgresql://postgres.jstpgjfnzgpjaebjfcrp:acebinh123a@aws-1-ap-northeast-1.pooler.supabase.com:5432/postgres
MINIO_ENDPOINT=minio
MINIO_PORT=9000
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=password123
JWT_PUBLIC_KEY=@../auth-service/keys/jwtRS256.key.pub