# --- Cấu hình chung ---
TZ=Asia/Ho_Chi_Minh
NODE_ENV=development

# --- Database (Postgres) ---
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=auth_db
DATABASE_PORT=5432
DB_CONTAINER_NAME=cambridge_auth_db
DATABASE_URL=postgresql://user:password@${DB_CONTAINER_NAME}:${DATABASE_PORT}/auth_db

# --- PG Admin ---
PGADMIN_EMAIL=admin@admin.com
PGADMIN_PASSWORD=adminpassword
PGADMIN_PORT=8080

# --- Redis ---
REDIS_PORT=6379
REDIS_CONTAINER_NAME=cambridge_auth_redis
REDIS_URL=redis://${REDIS_CONTAINER_NAME}:${REDIS_PORT}

# --- Auth Service ---
AUTH_SERVICE_PORT=3001
AUTH_SERVICE_CONTAINER_NAME=cambridge-auth-service
LOG_LEVEL=info

# --- JWT ---
JWT_PRIVATE_KEY=@keys/jwtRS256.key
JWT_PUBLIC_KEY=@keys/jwtRS256.key.pub
JWT_KID=auth-service-key-v1

# --- Auth Token Configuration ---
ACCESS_TOKEN_TTL=15m
REFRESH_TOKEN_TTL_DAYS=30
RESET_PASSWORD_TOKEN_TTL_MINUTES=5
BCRYPT_ROUNDS=12

# --- Cookie Configuration ---
COOKIE_DOMAIN=localhost
COOKIE_SECURE=false

# --- Email Configuration ---
# Mailtrap for development
SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_USER=c17a32bc6c6816
SMTP_PASS=e010d7eb2a325e
EMAIL_FROM="Cambridge Platform <noreply@cambridge-platform.com>"

# --- Google SSO Configuration ---
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GOOGLE_CALLBACK_URL="http://localhost:8081/api/auth/google/callback"
FRONTEND_OAUTH_SUCCESS_URL="http://localhost:81/auth/success" 
